<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>

<hr>

<p>
	<%= link_to ">> Browse Tags (#{ @tags.size })", tags_path, class: "sLink" %>
</p>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
